* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  background: var(--bg-color);
}

:root {
  --bg-color: #d9dfda;   
  --container-color: #e0e0e4;
  --text-color: #dee1e6;
  --hover-color: #8F0B13;
  --button-color: #681304;
  --border-color: rgba(130, 106, 251);
}

.wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 80vh;
  width: 80vw;   
}

.header {
  position: fixed;
  width: 100%;
  height: 5%;
  top: 0;
  left: 0;
  padding: 2.5rem 2%;
  padding-left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  z-index: 100;
}

.header h2 {
  font-size: 200%;
  font-weight: 850;
  margin-top: -20px;
  color: black;
}

span {
  color: rgba(130, 106, 251);
}

.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  border: var(--border-color);
  border-style: solid;
  border-width: 10px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  margin-top: 30px;
  
  /* Enable scrolling */
  max-height: 1000px; /* Adjust height as needed */
  overflow-y: auto;
}

/* Custom scrollbar styles */
.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 10px;
}

.container::-webkit-scrollbar-track {
  background-color: #df6b6b;
}

.container h1 {
  font-size: 2.5rem;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 2px solid var(--border-color);
}

.info-table th, .info-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid var(--border-color);
}

.info-table th {
  background-color: var(--border-color);
  color: white;
  font-weight: bold;
}

.info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.info-table tr:hover {
  background-color: rgba(130, 106, 251, 0.15);
}

/* Button Styling */
.button button {
  justify-content: center;
  width: 100px;
  height: 20px;
  color: black;
  background-color: var(--border-color);
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button {
  margin-left: 800px;
  margin-top: 25px;
}

.button button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.button button:active {
  transform: scale(0.95);
}
